// Sizes
$size-1: 0.0625rem; // 1px
$size-2: 0.125rem; // 2px
$size-3:  0.3125rem; // 5px
$size-4: 0.625rem; // 10px
$size-5: 0.875rem; // 14px
$size-6: 1rem; // 16px
$size-7: 1.25rem; // 20px
$size-8: 1.5rem; // 24px
$size-9: 2rem; // 32px
$size-10: 2.25rem; // 36px
$size-11: 2.5rem; // 40px
$size-12: 3.75rem; // 60px
$size-13: 5rem; // 80px
$size-14: 6.25rem; // 100

// Colors
$orange: #d8532b;
$purple-bis: #48455a;